<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.softmed.com.hfreferal" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activities.MainActivity"
            >
        </activity>

        <activity android:name=".activities.LoaderActivity">
        </activity>

        <activity android:name=".activities.ReferalListActivityOld"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.ReferedClientsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.NewReferalsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.ClientsDetailsActivity"
            android:parentActivityName=".activities.ReferalListActivityOld"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.LoginActivity">
        </activity>

        <activity android:name=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.TbReferalListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.ReferralListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.TbReferralDetailsActivity"
            android:parentActivityName=".activities.TbReferalListActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.AppointmentActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.TbRegisterActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <service
            android:name=".services.FirebaseInstanseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".utils.AlarmReceiver"
            android:process=":remote">
        </receiver>

        <service android:name=".services.PostOfficeService"
            android:exported="false"/>

        <activity android:name=".activities.TbClientListActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.TbClientDetailsActivity"
            android:parentActivityName=".activities.TbClientListActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.FeedbackDetailsActivity"
            android:parentActivityName=".activities.ReferedClientsActivity"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>