<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softmed.htmr_facility_staging" >

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="android.support.multidex.MultiDexApplication"
        android:fullBackupContent="@xml/backup_descriptor">
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

        <!-- ###################################################################################     Activities-->

        <activity android:name="com.softmed.htmr_facility_staging.activities.LoaderActivity"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.ReferedClientsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.NewReferalsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>


        <activity android:name="com.softmed.htmr_facility_staging.activities.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="locale">
        </activity>

        <activity android:name="com.softmed.htmr_facility_staging.activities.ClientsDetailsActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="locale">
        </activity>

        <activity android:name="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.softmed.htmr_facility_staging.activities.TbReferalListActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.ReferralListActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.TbReferralDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.TbReferalListActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.AppointmentActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.ClientRegisterActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.TbClientListActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.TbClientDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.TbClientListActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.FeedbackDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.ReferedClientsActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.OpdReceivedReferralDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.PatientDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.NewReferalsActivity"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.ReportsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.LabTestedPatients"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.LabTestDetailsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.LabTestedPatients"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.softmed.htmr_facility_staging.activities.IssuedReferralsActivity"
            android:parentActivityName="com.softmed.htmr_facility_staging.activities.HomeActivity"/>

        <!-- ###################################################################################     Services-->

        <service android:name="com.softmed.htmr_facility_staging.services.DataSyncJob"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.softmed.htmr_facility_staging.services.FirebaseInstanseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.softmed.htmr_facility_staging.services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.softmed.htmr_facility_staging.services.AuthenticatorService">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />

        </service>

        <service android:name="com.softmed.htmr_facility_staging.services.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service android:name="com.softmed.htmr_facility_staging.services.PostOfficeWatcher"
            android:exported="true">
        </service>

        <!-- ###################################################################################     Receivers-->

        <receiver android:name="com.softmed.htmr_facility_staging.utils.AlarmReceiver"
            android:process=":remote">
        </receiver>

        <!-- ###################################################################################     Providers-->

        <provider android:name="com.softmed.htmr_facility_staging.base.StubProvider"
            android:authorities="com.softmed.htmr_facility_staging.provider"
            android:exported="false"
            android:syncable="true"/>

    </application>

</manifest>